* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: #1D1D1D;
}

.elipse-1 {
    position: absolute;
    overflow-x: hidden;
    top: 287px;
    right: 0;
    width: 32px;
    height: 32px
}

.elipse-1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
    right: 0;
    transform: translateX(50%);
    border-radius: 50%
}

.elipse-2 {
    width: 32px;
    height: 32px;
    position: absolute;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377DFF 100%);
    top: 433px;
    left: 94px;
    border-radius: 50%;
}

.elipse-3 {
    width: 32px;
    height: 32px;
    position: absolute;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377DFF 100%);
    top: 607px;
    right: 194px;
    border-radius: 50%;    
}

.elipse-4 {
    width: 32px;
    height: 32px;
    position: absolute;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
    top: 811px;
    left: 299px;
    border-radius: 50%;
}

.main-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85vw;
   height: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 72px;
   margin-bottom: 72px;
}

.logo {
    width: 136px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-left: 10px;
}

.logo__title_bold {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.main-header__navbar {
    display: flex;
    gap: 50px;
}

.main-header__link {
    text-decoration: none;
    color: #1D1D1D;
    font-weight: 400;
    font-size: 18px;
}

.white-button {
    border: 1px solid #377DFF;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 12px 50px;
    color: #377DFF;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.home-section__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    text-align: center;
    white-space: pre-line;
}

.home-section__subtitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #464646;
    white-space: pre-line;
    margin-top: 24px;
    margin-bottom: 32px;
}

.blue-button {
    background-color: #377DFF;
    box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 12px 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: unset;
    justify-content: center;
    align-items: center;
}

.home-section__button-container {
    text-align: center;
}

.home-section__picture {
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}